<?xml version="1.0"?>
<launch>
  <!-- Export env variable so that gazebo finds our models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find ur5_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  
  <!-- Launch file parameters -->
  <arg name="paused"     default="true"/>
  <arg name="debug"      default="false"/>
  <arg name="gui"        default="true"/>
  <arg name="rate"       default="125" />
  <arg name="world_name" default="$(find ur5_gazebo)/worlds/ur5_setup.world" />
  
  <!-- Start up simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="gui"        value="$(arg gui)"/>
  </include>

  <!-- Send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur5_description)/urdf/ur5_robotiq85_gripper.urdf.xacro'" />
  <!-- Spawn robot in gazebo (and move it upwards):
       better initial values should be -2.355 and 1.57 but the robot does
       something strange when unpausing it
  -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model robot -z 0.594
              -J shoulder_lift_joint -1.8
              -J elbow_joint 1.0"
        output="screen" />

  <include file="$(find ur5_gazebo)/launch/ur5_controllers.launch" />

</launch>
